{% extends 'base.html' %}
{% load static %}

{% block title %}Фотоальбом{% endblock title %}

{% block content %}
    <h1>{{ photoalbum.title }}</h1>
    <p>{{ photoalbum.description }}</p>
    <div class="container">
        {% for image in photoalbum.image_set.all %}
            <img class="post-images" src="{{ image.image.url }}" alt="">
        {% endfor %}
    </div>
    <div class="container">
        <a id="back" href="{% url 'home' %}">
            <button class="to-home">На главную</button>
        </a>
        {% if user.is_authenticated %}
            <a id="back" href="{% url 'photoalbum_delete' photoalbum.pk %}">
                <button class="delete-button">Удалить этот фотоальбом</button>
            </a>
        {% endif %}
    </div>
{% endblock content %}