{% extends 'form_base.html' %}
{% load static %}

{% block title %}Создать фотоальбом{% endblock title %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-content">
            <h1>Создать фотоальбом</h1>
            <div class="form-group">
                <label>Название фотоальбома</label>
                <input name="title" type="text" placeholder="Введите название" class="forma">
            </div>
            <div class="form-group">
                <label for="description">Текст</label>
                <textarea name="description" cols="40" rows="10" placeholder="Введите текст" type="text" class="forma"></textarea>
            </div>
            <div class="form-group">
                {{ form.images }}
            </div>
            <div class="form-group">
                <input type="submit" class="sub" value="Создать">
                <a class="btn-link" href="{% url 'home' %}">Назад</a>
            </div>
        </div>
    </form>
{% endblock content %}